<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>923182037550-gur4daemcqqv5dhsg3sfe8st6d1ot88k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923182037550-gur4daemcqqv5dhsg3sfe8st6d1ot88k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>923182037550-10p23jpqj6vsf204gjg9p8v381semda5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHC28kecdSAsjOIKMmly9kXCCWymq0PgM</string>
	<key>GCM_SENDER_ID</key>
	<string>923182037550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.generix.BffAdmin</string>
	<key>PROJECT_ID</key>
	<string>booking-football-fields</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-football-fields.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:923182037550:ios:1059aee1bdc90130</string>
	<key>DATABASE_URL</key>
	<string>https://booking-football-fields.firebaseio.com</string>
</dict>
</plist>
